*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: none;
}

.container{
    width: calc(100% - 20%);
    margin: 0 auto;
    padding: 0 20px; 
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header{
    padding: 21.84px 0;
}

.list ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
}
.icons ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
}
.collection_section{
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.collection{
    text-align: center;
    width: calc( (100% - 90px) / 4 );
}
img{
    width: 100%;
}
h2{
    margin-top: 23px;
}
a{
    text-decoration: none;
}
@media screen and (min-width:0px) and (max-width:1000px){
  
    .list  {
        display: none;
    }
    .icons {
        display: none;
    }
    .menu{
        display: flex;
    }
    
    
 }
 @media screen and (min-width:0) and (max-width:400px){
    .collection_section .row{
        flex-direction: column;
    }
    .collection{
        width: 100%;
    }
 }
  @media screen and (min-width:401px) and (max-width:770px){
    .collection{
            width: calc( (100% - 30px) / 2 );

    }
  }

   
 
 @media screen and (min-width:771px) and (max-width:1000px){
    .collection{
    width: calc( (100% - 60px) / 3 );
    }
   
 }
